.box { display: flex;
    width: 100%;
justify-content: space-between;
background-color: rgba(255,255,255, 0.1); /* Black w/opacity/see-through */
}

// ul {
//       margin: 0;
//       padding: 0;
//       list-style: none;
//     }

// li { display: inline-block; }

//   a {
//       display: block;
//       padding: 6px 12px;
//       text-decoration: none;
//     }
  