.month {
    text-transform: uppercase;
    grid-row: 2;
    font-size: 0.7rem;
    border: 1px solid red;
  }
  .jan {
    grid-column: 17;
  }
  .feb {
    grid-column: 46;
  }
  .mar {
    grid-column: 75;
  }
  .apr {
    grid-column: 106;
  }
  .mai {
    grid-column: 136;
  }
  .juni {
    grid-column: 167;
  }
  .juli {
    grid-column: 192;
  }
  .aug {
    grid-column:228;
  }
  .sept {
    grid-column: 259;
  }
  .okt {
    grid-column: 289;
  }
  .nov {
    grid-column: 320;
  }
  .dez {
    grid-column: 350;
  }