.timelineGridContainer {
  display: grid;
  grid-template-columns: repeat(365, [col] 1fr);
  grid-template-rows: 3;
  // height: 300px;
  width: 100%;
  border: 1px solid black;
  align-items: center;
  justify-items: center;
}



