.cursorwrapper { 
  cursor: url("/public/cursor.png"), auto;
}


.timelineDotContainer {
  display: flex;
  // height: 300px;
  width: 100%;
  //border: 2px solid blue;
  align-items: center;
  justify-items: center;
  position: relative;
  top: 76;
}

.timelineLine {
  width: 100%;
  overflow: hidden;
  height: 1px;
  background-color: red;
  position: relative;
  top: 83%;
}

.timelineTodayContainer {
  background-color: red;
  position: relative;
  top: 0%;
  width: 100%;

}

.timelineAxisContainer {
  display: flex;
  position: relative;
  top: 5%;
  width: 100%;
}

.timelineMonthContainer {
  width: 100%;
  position: relative;
  top: 85%;
  align-items: center;
  justify-items: center;
}
